import java.util.Scanner;

public class neu1 {
    public static void main(String[] args) {
        Scanner input=new Scanner(System.in);
        int top=0,s1=0,s2=1;
        System.out.print("SAYI GIRINI:");
        int sayi= input.nextInt();

        for (int i=0;i<=sayi;i++){
            System.out.println(s1);
           top=s1+s2;
           s1=s2;
           s2=top;
